{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>آنلاین تیکت</title>
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Add icon library -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></head>
<body>
    <div>
        {% include 'header.html' %}
        <div  class="container-fluid mt-2">
            <div class="row">
                {% comment %} <div class="col">
                    سایدبار راست
                </div> {% endcomment %}
                <div class="col-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col">
                    سایدبار چپ
                </div>
            </div>
        </div>
            
        <div id="new"></div>
        {% include 'footer.html' %}
    </div>
    {% include 'scripts.html' %}

</body>
</html>