{% extends 'base_blog.html' %}


{% block content %}

<h1>جستجوی مقالات</h1>
<form method="post" action="{% url 'search-articles'%}">
    {% csrf_token %}
    {{ search_form.as_table }}
    <button type="submit">جستجو</button>
</form>

<ul>
    {% for article in articles  %}
    <li>
        <a href="{% url 'detail-article' article.slug%}">
            <h1>{{article.title}}</h1>
        </a>
        <p>{{article.text |truncatechars:25}}</p>
        <p>{{article.created_date}}</p>
        <p>امتیاز: {{article.rate_article}}</p>
        <h5>نویسندگان: </h5>
        <ul>
            {% for author in article.author.all %}
            <li>{{author.full_name}}</li>
            {% endfor %}

        </ul>

    </li>

    {% endfor %}

</ul>



<hr>
<ul>
    <h1>جدیدترین مقالات</h1>
    {% for article in latest  %}
    <li>
        <a href="{% url 'detail-article' article.slug%}">
            <h4>{{article.title}}</h4>
        </a>

    </li>

    {% endfor %}

</ul>


<hr>
<ul>
    <h1>نویسنده های برتر</h1>
    {% for author in best_authors  %}
    <li>
        <p>{{author.full_name}}</p>

    </li>

    {% endfor %}

</ul>

{% endblock content %}